# SDCC stuff
*.lnk
*.lst
*.map
*.mem
*.rel
*.rst
*.sym

Kernel/bank16k.asm
Kernel/bank32k.asm
Kernel/bankfixed.asm
Kernel/cpm-loader/cpmload.bin
Kernel/cpm-loader/cpmload.ihx
Kernel/cpm-loader/makecpmloader
Kernel/devio.asm
Kernel/devsys.asm
Kernel/filesys.asm
Kernel/font4x6.asm
Kernel/font6x8.asm
Kernel/font8x8.asm
Kernel/fuzix.bin
Kernel/fuzix.cart
Kernel/fuzix.com
Kernel/hogs.txt
Kernel/hogs.txt.old
Kernel/inode.asm
Kernel/kdata.asm
Kernel/mm.asm
Kernel/platform
Kernel/platform-msx1/devfd.asm
Kernel/platform-msx1/devhd.asm
Kernel/platform-msx1/devices.asm
Kernel/platform-msx1/devlpr.asm
Kernel/platform-msx1/devtty.asm
Kernel/platform-msx1/main.asm
Kernel/process.asm
Kernel/simple.asm
Kernel/single.asm
Kernel/start.asm
Kernel/swap.asm
Kernel/syscall_exec.asm
Kernel/syscall_fs.asm
Kernel/syscall_fs2.asm
Kernel/syscall_other.asm
Kernel/syscall_proc.asm
Kernel/timer.asm
Kernel/tools/analysemap
Kernel/tools/binman
Kernel/tools/bintomdv
Kernel/tools/make4x6
Kernel/tools/memhogs
Kernel/tty.asm
Kernel/usermem.asm
Kernel/uzi.cdb
Kernel/uzi.ihx
Kernel/uzi.tmp
Kernel/version.asm
Kernel/version.c
Kernel/vt.asm
