# SDCC stuff
*.lnk
*.lst
*.map
*.mem
*.rel
*.rst
*.sym

Kernel/bank16k.asm
Kernel/bank32k.asm
Kernel/bankfixed.asm
Kernel/cpm-loader/cpmload.bin
Kernel/cpm-loader/cpmload.ihx
Kernel/cpm-loader/makecpmloader
Kernel/devio.asm
Kernel/devsys.asm
Kernel/filesys.asm
Kernel/font4x6.asm
Kernel/font6x8.asm
Kernel/font8x8.asm
Kernel/fuzix.bin
Kernel/fuzix.cart
Kernel/fuzix.com
Kernel/hogs.txt
Kernel/hogs.txt.old
Kernel/inode.asm
Kernel/kdata.asm
Kernel/mm.asm
Kernel/platform
Kernel/platform-msx1/devfd.asm
Kernel/platform-msx1/devhd.asm
Kernel/platform-msx1/devices.asm
Kernel/platform-msx1/devlpr.asm
Kernel/platform-msx1/devtty.asm
Kernel/platform-msx1/main.asm
Kernel/process.asm
Kernel/simple.asm
Kernel/single.asm
Kernel/start.asm
Kernel/swap.asm
Kernel/syscall_exec.asm
Kernel/syscall_fs.asm
Kernel/syscall_fs2.asm
Kernel/syscall_other.asm
Kernel/syscall_proc.asm
Kernel/timer.asm
Kernel/tty.asm
Kernel/usermem.asm
Kernel/uzi.cdb
Kernel/uzi.ihx
Kernel/uzi.tmp
Kernel/version.asm
Kernel/version.c
Kernel/vt.asm
Kernel/common.bin
Kernel/common.ihx
Kernel/fuzix.cdb
Kernel/fuzix.ihx
Kernel/fuzix.tmp
Kernel/relocs.dat
Kernel/tools/analysemap
Kernel/tools/binman
Kernel/tools/bintomdv
Kernel/tools/make4x6
Kernel/tools/memhogs
Kernel/tools/bankld/lk_readnl.o
Kernel/tools/bankld/lkaomf51.o
Kernel/tools/bankld/lkar.o
Kernel/tools/bankld/lkarea.o
Kernel/tools/bankld/lkbank.o
Kernel/tools/bankld/lkdata.o
Kernel/tools/bankld/lkelf.o
Kernel/tools/bankld/lkeval.o
Kernel/tools/bankld/lkhead.o
Kernel/tools/bankld/lklex.o
Kernel/tools/bankld/lklib.o
Kernel/tools/bankld/lklibr.o
Kernel/tools/bankld/lklist.o
Kernel/tools/bankld/lkmain.o
Kernel/tools/bankld/lkmem.o
Kernel/tools/bankld/lknoice.o
Kernel/tools/bankld/lkout.o
Kernel/tools/bankld/lkrel.o
Kernel/tools/bankld/lkrloc.o
Kernel/tools/bankld/lkrloc3.o
Kernel/tools/bankld/lks19.o
Kernel/tools/bankld/lksdcclib.o
Kernel/tools/bankld/lksdcdb.o
Kernel/tools/bankld/lksym.o
Kernel/tools/bankld/sdld.o
Kernel/tools/bankld/sdldz80
Kernel/tools/bihx
Library/tools/binman
Library/tools/fcc
Library/tools/syscall

